# Build results
[Bb]in/
[Oo]bj/

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Visual Studio 2017 cache/options directory
.vs/

# Config keys/Private info
Tweepics.Core.dll.config
Keys.cs
launchSettings.json
appsettings.json
appsettings.*.json

# Tweet data files
tweet_data/*.txt