# Build results
[Bb]in/
[Oo]bj/

# Visual Studio 2017 cache/options directory
.vs/

# Config keys/Private info
Tweepics.Core.dll.config
Keys.cs
launchSettings.json

# Tweet data files
tweet_data/*.txt