@model IEnumerable<Tweepics.Core.Models.Tweet>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <table>
        @foreach (var tweet in Model)
        {
            <tr>
                <td>@tweet.FullName</td>
                <td>@tweet.CreatedAt</td>
                <td>@tweet.TweetID</td>
                <td>@tweet.Text</td>
            </tr>
        }
    </table>
</body>
</html>
