@model IEnumerable<Tweepics.Core.Models.Tweet>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <table>
        @foreach (var tweet in Model)
        {
            <tr>
                <td>@Html.Raw(tweet.Html)</td>
            </tr>
        }
    </table>
    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
</body>
</html>
