@model IEnumerable<Tweepics.Core.Models.Tweet>

<table>
    @foreach (var tweet in Model)
    {
        <tr>
            <td>@Html.Raw(tweet.Html)</td>
        </tr>
    }
</table>
<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>