@model Tweepics.Web.ViewModels.Display.DisplayTweetsViewModel

@{
    ViewBag.Title = Model.Topic;
}

<div class="container">
    @foreach (var tweet in Model.Tweets)
    {
        <div class="row">
            <div class="col-sm-5">
            </div>
            <div class="col-sm-7">
                @Html.Raw(tweet.Html)
            </div>
        </div>
    }
</div>
<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
