@model List<List<string>>

@{
    ViewBag.Title = "Home";
    ViewBag.CssClass = "container-fluid tags-background";
    ViewBag.Navbar = "navbar-all-tags";
}

<h1 class="all-tags-h1">
    h1 text will go here
</h1>

<div class="container">
    @foreach (var listOfThree in Model)
    {
        <div class="row">
            @foreach (var tag in listOfThree)
            {
                <div class="col">
                    @if (!string.IsNullOrEmpty(tag))
                    {
                        <a class="tags-primary"
                           asp-action="Topic" asp-controller="Display"
                           asp-route-tag="@tag">@tag</a>
                    }

                </div>
            }
        </div>
    }
</div>