@model IEnumerable<string>

<table>
    @foreach (var tag in Model)
    {
        <tr>
            <td>
                <a asp-action="Topic"
                   asp-controller="Display"
                   asp-route-tag="@tag">@tag</a>
            </td>
        </tr>
    }
</table>