<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/node_modules/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />
</head>
<body>
    <div class="@ViewBag.CssClass">
        <nav class="navbar tweepics-brand">
            <a class="navbar-brand" href="#">tweepics</a>
        </nav>
        <div>
            @RenderBody()
        </div>
    </div>
</body>
</html>
