<div class="container-fluid">
    <div class="not-found-text-button">
        <h4>Whoops, no tweets were found.</h4>
        <a class="btn not-found-button"
           asp-action="Index" asp-controller="Home">Return home</a>
    </div>
</div>